@-webkit-keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.sweet-action {
  background-color: #22889f;
  color: purple;
  font-size: 100px;
  height: 100vh;
  width: 300%;
  margin: none;
  text-align: center;
  -webkit-animation-name: blinker;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.5, 0, 1, 1);
  -webkit-animation-duration: 0.8s;
}

.faves-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5px;
  background-color: #53565a;
  animation: fadeIn ease-in 1;
  animation-duration: 0.75s;
  animation-fill-mode: forwards;
  -moz-animation: fadeIn ease-in 1;
  -moz-animation-duration: 0.75s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-duration: 0.75s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media (max-width: 800px) {
	.faves-list {
		grid-template-columns: repeat(2, .5fr)
}

@media (max-width: 525px) {
  .sweet-action {
    width: 100%;
  }
}

@media (max-width: 500px) {
	.faves-list {
		grid-template-columns: repeat(1, 1fr)
}
