.movie-card {
  border: 2px solid #8bd3e6;
  border-radius: 15px;
  box-shadow: 2px 2px 25px #767676;
  text-align: center;
  margin: 20px;
  height: 250px;
  width: 500px;
  opacity: .5;
  background-size: cover;
  background-repeat: no-repeat;
  animation: fadeIn ease-in 1;
  animation-duration: .75s;
  animation-fill-mode: forwards;
  -moz-animation: fadeIn ease-in 1;
  -moz-animation-duration: .75s;
  -moz-animation-fill-mode: forwards;
  -webkit-animation-duration: .75s;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.movie-card:hover {
  opacity: 1;
}

h1 {
  color: #f1563f;
}
