.movie-card {
  border: 2px solid #8bd3e6;
  border-radius: 15px;
  box-shadow: 2px 2px 25px #767676;
  color: white;
  text-align: center;
  margin: 10px;
  height: 250px;
  width: 30vw;
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.movie-card p {
  display: none;
}

.movie-card:hover {
  opacity: 0.5;
  cursor: pointer;
}

.movie-card:hover p {
  display: block;
}

.movie-card-selected {
  border: 5px solid gold;
}

h3 {
  background-color: #ffa500;
  color: black;
  font-size: 32px;
}

h1 {
  color: #f1563f;
}
