body {
  display: grid;
  grid-template-rows: 100px 100px 1fr;
  font-family: "Courier New", Courier, "Lucida Sans Typewriter",
    "Lucida Typewriter", monospace;
  margin: 0;
  background-color: #d9d9d9;
}

.page-header {
  background-color: #3c6e71;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 5px;
  width: 100%;
  height: 80px;
}

.name-logout {
  display: flex;
  width: 200px;
}

.login-link,
.movies-link,
.register-link,
.favorites-link,
.logout {
  font-family: "Cinzel", serif;
  background-color: #353535;
  border: 1px solid #d9d9d9;
  border-radius: 50px;
  color: white;
  height: 30px;
  width: 100px;
  margin: 20px 5px;
  padding-top: 8px;
  text-align: center;
  text-decoration: none;
}

.login-link {
  margin-left: 10px;
}

.login-link:hover,
.movies-link:hover,
.register-link:hover,
.favorites-link:hover,
.logout:hover {
  background-color: #ff4743;
  color: white;
  cursor: pointer;
}

.login-link:focus,
.movies-link:focus,
.register-link:focus,
.favorites-link:focus,
.logout:focus {
  background-color: #ff4743;
  color: white;
  cursor: pointer;
}

.user-name {
  color: #d9d9d9;
  font-size: 1em;
  height: 30px;
  margin: auto;
  margin-right: -60%;
  text-align: right;
  width: 100%;
}

h1 {
  color: black;
  text-align: center;
  overflow: hidden;
  border-right: 0.15em solid #3c6e71;
  white-space: nowrap;
  margin: 15px auto;
  width: 38%;
  font-size: 3.5em;
  letter-spacing: 0.15em;
  animation: typing 3.3s steps(40, end), blink-caret 0.75s step-end infinite;
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 38%;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #3c6e71;
  }
}

@media (max-width: 1500px) {
  h1 {
    width: 60%;
  }

  @keyframes typing {
    from {
      width: 0;
    }

    to {
      width: 60%;
    }
  }
}

@media (max-width: 1000px) {
  h1 {
    width: 80%;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 80%;
    }
  }
}

@media (max-width: 720px) {
  /*.user-name {
    margin-left: -60px;
    margin-right: none;
  }*/

  h1 {
    font-size: 2.5em;
  }

@media (max-width: 550px) {
  h1 {
    font-size: 2em;
  }

  .user-name {
    margin-left: -5px;
  }

}

@media (max-width: 525px) {

  .login-link,
  .movies-link,
  .register-link,
  .favorites-link {
    width: 150px;
  }

.user-name {
  display: none;
}

  h1 {
    font-size: 1.7em;
  }
}

@media (max-width: 450px) {
  .login-link,
  .movies-link,
  .register-link,
  .favorites-link {
    width: 100px;
  }
}
